h1 {
    color: dodgerblue;
}

td {
    padding: 1.5rem 1rem !important;
}

.action-buttons .btn {
    margin: 0;
    width: fit-content !important;
    border-radius: 0;
}

.action-buttons .btn-primary {
    border-radius: 3px 0 0 3px;
}

.action-buttons .btn-danger {
    border-radius: 0 3px 3px 0;
}